.DS_Store
.ipynb_checkpoints/
Turtle Neck Syndrome Posture Correction Service Using CNN-based Learning Model.pdf
cnn.zip
opencv/.DS_Store
opencv/.ipynb_checkpoints/
opencv/MNIST_DATASET/
opencv/PyTorch week1.ipynb
opencv/images/
opencv/imgs/
1220회의.txt
중간 발표 자료/
tf2-master/
